sprint_7/desafio_parte_1/movies.csv
sprint_7/desafio_parte_1/series.csv
sprint_8/secao2_pre-desafio/api_key_tmbd.txt
sprint_8/sessao3_desafio-parte-II/api_key_tmbd.txt
sprint_8/exercicios_spark_batch/nomes_aleatorios.txt
sprint_9/desafio3/movies.csv
sprint_9/desafio3/filmes_popular.json